Source: axamd-client
Section: python
Priority: optional
Maintainer: Farsight Security, Inc. <software@farsightsecurity.com>
Build-Depends:
 debhelper (>= 8~),
 dh-python,
 python-all (>= 2.7),
 python-setuptools,
 python-pkg-resources,
 python-jsonschema,
 python-option-merge,
 python-yaml,
 python-requests,
 pyflakes (>= 0.6)
Standards-Version: 3.9.8
X-Python-Version: 2.7

Package: python-axamd-client
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends},
 python-jsonschema,
 python-option-merge,
 python-yaml,
 python-requests,
 python-pkg-resources
Recommends:
 python-nmsg
Description: Farsight AXAMD Client Library and Tool
 This package contains the axamd.client Python extension module and the
 axamd_client entry point.
